.dashboardMainContainer {
    flex: 1;
    height: 100%;
    width: 100%;
}

.header {
    height: 80px;
    width: 100%;
}

.stats {
    display: flex;
    flex-direction: row;
}

.stats > div {
    padding: 20px;
}


