@import "../../renderer/App";

//.dashboardMainContainer {
//    height: 100%;
//    width: 100%;
//    background-color: #718096;
//}
.dashboard {
    //height: 100%;
    //width: 100%;
    //background-color: #718096;
    //.bodyContainer {
    //    height: 100%;
    //    width: 100%;
    //    background-color: #718096;
    //}
    //.mainContainer {
    //    display: flex;
    //    flex-direction: row;
    //    height: 100%;
    //}
    //
    //.mainContainer > div {
    //    padding: 20px;
    //}
    .leftContainer {
        flex: 2;
        border-right: 1px solid;
        height: 100%;
    }

    .rightContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}


