@import "../../shared/styles/MainContainer";

//.dashboardMainContainer {
//    height: 100%;
//    width: 100%;
//    background-color: #718096;
//}

.leftContainer {
    flex: 2;
    background-color: #5a67d8;
    height: 100%;
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #48bb78;
    height: 100%;
}


