@import "../../../../backend/App/App";

.rightToolContainer, .geneseContainer {


    .title {
        display: flex;
        flex-direction: row;
        height: 30px;
        padding-top: 10px;

        .titleName {
            flex: 9;
            font-size: $bigFontSize;
            font-weight: bold;
        }

        .titleIcon {
            display: flex;
            flex: 1;
            justify-content: right;
        }
    }

    .arrayContainer, .scores {
        padding: 20px;

        .header {
            display: flex;
            font-weight: bold;
            flex-direction: row;
            padding-bottom: 10px;
        }

        .content, .scores {
            padding-bottom: 10px;
            display: flex;
            flex-direction: column;
        }

        .row {
            display: flex;
            flex-direction: row;
            padding-bottom: 5px;
            padding-top: 5px;

            .leftColumn {
                width: 100px;
            }

            .rightColumn {
                flex: 2;
            }
        }
    }
}
