@import "../../shared/styles/MainContainer";

.leftContainer {
    flex: 2;
    background-color: #5a67d8;
    flex-direction: column;
    height: 100%;
}

.rightContainer {
    flex: 8;
    display: flex;
    flex-direction: column;
    background-color: #48bb78;
    height: 100%;
}
