.bodyContainer {
        height: 100%;
        width: 100%;
        background-color: #718096;
}
.mainContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.mainContainer > div {
    padding: 20px;
}
