@import "src/renderer/App";

.mainNavBarContainer {
    height: 40px;
    background-color: $backgroundColor;
    font-size: 14px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #718096;
    align-items: center;
    color: $secondaryColor;
}

.left {
    flex: 2;
    display: flex;
    justify-content: left;
    padding-left: 20px;

    .refacto {
        font-weight: bold;
        font-size: 16px;
        color: $lightColor;
    }
}

.center {
    flex: 6;
    display: flex;
    flex-direction: row;
}

.right {
    flex: 2;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

}

link {
    color: aliceblue;
}
