
.settings {

    .rightContainer {
        flex: 8;
        display: flex;
        flex-direction: column;
        height: 100%;

        .title {
            padding-bottom: 20px;
        }

        .formRow {
            display: flex;
            flex-direction: row;
            flex: 10;
            padding-bottom: 20px;
        }

        .flex7 {
            flex: 6;
        }

        .divSubmit {
            padding-left: 10px;
        }
    }
}
