@import "../../../../../renderer/App";

.settings {

    .rightContainer {

        .subTitle {
            font-weight: bold;
            color: $grey;
            padding-bottom: 20px;
            padding-top: 10px;
        }
    }
}
